        <div id="header">
            <div class="tg_tools_home w">
                <div class="bbs_enter">
                    <a class="bbs-banner" href="/Member/pay.html" target="_blank"><img src="./index_files/banner.jpg" alt="扒模板"></a>
                </div>
                <div class="logo">
                    <a class="logo-bd" href="/"><img src="./index_files/logo.jpg" alt="素材网"></a>
                </div>
                <form action="/search?txt=text" method="GET" id="form_search" onsubmit="return searchSub()">
                    <div id="search" class="search">
                        <div class="search_area" style="position:relative;top:10px">
                            <input type="submit" value="搜 索" class="btn_search common_bgcolor">
                            <div class="search_select">
                                <span class="icon-search"></span>
                            </div>
                            <input type="text" value="" name="txt" class="search_input" autocomplete="off" id="search_input" placeholder="请输入搜索内容" data-default="" onblur="checkInputBlur($(this))" onfocus="checkInputFocus($(this))">
                            <!--<input type="hidden" name="keyword">-->
                            <!--<input type="hidden" name="mtype" id="mtype_index" value="">-->
                        </div>
                        <div class="search_box hide" id="search_box"></div>
                        <!--<div class="search_keywords">
                            <span>热门搜索：</span>
                            <a href="/search.html?keyword=%E6%89%8B%E6%9C%BA&mtype=1">手机</a>
                            <a href="/php/217-0-0-0" class="red">支付</a>
                            <a href="/search.html?keyword=bootstrap&mtype=1">bootstrap</a>
                            <a href="/php/218-0-0-0" class="red">微信</a>
                            <a href="/search.html?keyword=%E5%90%8E%E5%8F%B0&mtype=1">后台</a>
                            <a href="/search.html?keyword=%E4%B8%8A%E4%BC%A0&mtype=20">上传</a>
                            <a href="/php/127-0-0-0" class="red">Thinkphp</a>
                            <a href="/templates/0-0-52-0-0-0">响应式</a>
                            <a href="/search?keyword=%E5%88%86%E9%94%80&mtype=15" class="red">分销</a>
                            <a href="/video/143-0-0" class="red">php视频</a>
                            <a href="/search.html?keyword=o2o&mtype=15" class="red">o2o</a>
                               <a href="/video/157-0-0">WEB前端</a>
                        </div>-->
                    </div>

                </form>
            </div>
        </div>