<div class="side-left">
    <div id="help-center" class="box help-center">
        <div class="title">
            <h3>帮助中心</h3>
        </div>
        <ul>
            <li>
                <a {{if active=="helpindex" }}class="active" {{/if}} href="/helpindex">
                            关于我们                            <span></span>
                        </a>
            </li>
            <li>
                <a {{if active=="helpjob" }}class="active" {{/if}} href="/helpjob">
                            招贤纳士                            <span></span>
                        </a>
            </li>
            <li>
                <a {{if active=="helpcontact" }}class="active" {{/if}} href="helpcontact">
                            联系我们                            <span></span>
                        </a>
            </li>
            <!--<li>
                <a {{if active=="helptemplate" }}class="active" {{/if}} href="/helptemplate">
                            想扒就扒                            <span></span>
                        </a>
            </li>-->
            <!--<li>
                <a {{if active=="helppoints" }}class="active" {{/if}} href="/helppoints">
                            积分获取                            <span></span>
                        </a>
            </li>-->
        </ul>
    </div>
</div>