        <div id="nav" class="nav common_bgcolor">
            <div class="nav_main clearfix w">
                <a href="/" class="menu {{if current=="index" }}current{{/if}}">首 页</a>
                <a href="/js" class="menu {{if current=="js" }}current{{/if}}">网页特效</a>

                <a href="/php" class="menu {{if current=="php" }}current{{/if}}">PHP/Mysql</a>
                <a href="/templates" class="menu {{if current=="templates" }}current{{/if}}">网站模板</a>
                <a href="/video" class="menu {{if current=="video" }}current{{/if}}">视频教程</a>
                                <!--                -->
                <!--<a href="/topic" class="menu">话题社区</a>-->
                <a href="/site" class="menu {{if current=="site" }}current{{/if}}">酷站欣赏</a>
                <!--                <a href='/tools' class="menu">工具箱</a>-->
                <a href="/helptemplate" class="menu">扒模板</a>
                <a href="/source" class="menu {{if current=="source" }}current{{/if}}" style="display: block;width:88px">整站源码</a>
                <!--                <a href='http://idc.aoxing.me.com/' class="menu" target="_blank">服务器</a>-->
                <span class="icon_hot"></span>
            </div>
        </div>