<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

{{include './comms/title_header'}}

<body>
    {{include './comms/all_header'}}
    <link rel="stylesheet" href="/css/help.css" type="text/css" />
    <div class="container w clearfix">
        <div class="center">
            <div class="box content clearfix">
                <div class="heading">
                    <h1>申请扒模板 <a style='color:#5188a6;text-decoration:underline' href='http://www.sucaihuo.com/Member/pay.html'
                            target='_blank' rel='nofollow'>免费获取扒模板机会</a></h1>
                </div>
                <div class="inner-content"></div>
                <div id="suggest" class="clearfix">
                    <div class="pull-right">
                        <h2>积分获取方式</h2>
                        <div class="customer-service">
                            <p>1、每天限评论5次，每次评论 <strong class="red">5</strong> 积分</p>
                            <p>2、每次签到 <strong class="red">20</strong> 积分，一个月连续签到20天以上送 <strong class="red">200</strong> 积分。点击去
                                <a
                                    href="http://www.sucaihuo.com/Member/sign" target="_blank">签到</a>。</p>

                        </div>
                        <h2>我们的特色</h2>
                        <div class="customer-service">
                            <p>1、软件+人工精心仿制。3个工作日内完成仿制</p>
                            <p>2、文件归类。图片放在images文件夹，样式css，特效js，字体fonts</p>
                            <p>3、个人中心、需要登录等页面也可仿制</p>
                            <p>4、html完美格式化。</p>
                            <p>5、生成模板地图，比如“美到家化妆造型手机版模版”订餐网站模板地图：点击<a href='http://www.sucaihuo.com/templates/361.html#buttons'
                                    target="_blank">查看</a>。</p>
                            <p>6、0bug。软件采集后，检测并修改bug。</p>
                            <p>7、售后服务。若缺少页面或有bug等问题，请联系技术人员。</p>
                        </div>
                        <div class="contact-address">
                            <div class="title">联系客服</div>
                            <div>
                                <a class="qq-chat" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=416148489&site=qq&menu=yes">
                        <img src="/Public/images/qq-chat.png" alt="QQ在线客服">
                    </a>
                                <p>邮箱：416148489@qq.com</p>
                                <p>qq群：35291327</p>
                            </div>
                        </div>
                    </div>
                    <div class="pull-left">
                        <form method="POST" action="http://www.sucaihuo.com/help/template_post.html" name="form">
                            <!--                <h2>每次申请扣<em>50</em>积分</h2>-->
                            <div class="input">
                                <label>网站名称：</label>
                                <input id="name" type="text" name="name" autocomplete="on" value="">
                                <span class="red">*</span>
                            </div>
                            <!--                <div class="input">
                                    <label>网站类型：</label> 
                                    <select name="type" id="type" onchange="typeChange($(this))">
                                        <option value="0">请选择</option>
                                        <option value="1" >企业站</option><option value="2" >商城</option><option value="3" >个人</option><option value="4" >专题</option><option value="5" >其他</option>                                    </select>
                                </div>-->
                            <!--                <div class="input">
                                    <input id="qq" type="text"  name="qq" autocomplete="off" value="" data-default="请输入QQ号" onblur="checkInputBlur($(this))" onfocus="checkInputFocus($(this))">
                                    <span class="red">*</span>
                                </div>-->
                            <!--                <div class="input">
                                    <input id="phone" type="text"  name="phone" autocomplete="off" value="" data-default="请输入手机号" onblur="checkInputBlur($(this))" onfocus="checkInputFocus($(this))">
                                    <span class="red">*</span>
                                </div>-->
                            <div class="input">
                                <label>网站域名：</label>
                                <input id="website" type="text" name="website" autocomplete="on" value="">
                                <span class="red">*</span>

                            </div>
                            <div class="input">
                                <label>QQ号：</label>
                                <input id="qq" type="text" name="qq" autocomplete="on" value="">
                            </div>

                            <div class="input">
                                <label>网站要求：</label>
                                <textarea id="description" name="description" autocomplete="on"></textarea>
                            </div>
                            <div class="input">
                                <label></label>
                                <input type="hidden" name="id" value="">
                                <button class="btn" style='float:none' type="button" id="sub-btn" onclick="checkForm()">提 交</button>
                            </div>
                            <div class="input" style='color:red;margin:10px 0 0'>
                                活动促销： 充值200元积分送一次或者冲300元永久VIP送两次扒模板机会，冲的多送的多！
                            </div>
                        </form>
                    </div>
                </div>
                <div class="thanks clearfix hide">
                    <div class="icon"></div>
                    <div class="verbiage">
                        <div class="callout"> 感谢您与我们联系！ </div>
                        我们会尽快给你反馈。与此同时，您还可以查看常见问题，在那里或许能找到问题的答案。
                    </div>
                </div>
                <script>
                    function checkForm() {

                        var name = $("#name").val();
                        if (name == '' || name == '请输入网站名称') {
                            alert("请输入网站名称");
                            return false;
                        }
                        $.get(getUrl("Ajax/isLogin"), {
                        }, function (data) {
                            if (data.username == null) {
                                showWindowBox();
                                $("#windown_box").attr('data-func', "checkForm()");
                            } else {
                                document.form.submit();
                            }
                        }, "json")
                    }

                </script>
            </div>
        </div>
        {{include './comms/help-left'}}

    </div>

    {{include './comms/help-footer'}}

    
    <script src="/js/jquery.js" type="text/javascript"></script>
    <script src="/js/common_version4.js" type="text/javascript"></script>

    <div class="mmsg-box mmsg-box-info" id='msg-box' style="margin-top: -23.5px; margin-left: -96.5px;">
        <div class="mmsg-content">
            <i class="mmsg-icon"></i>
            <p id='msg-box-content'></p>
        </div>
        <div class="mmsg-background"></div>
    </div>
    <div id="windown_box2"></div>
    <script type="text/javascript">
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?b5ae3f71dfe5f06a9dd4dc55087f27d1";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s)
        })();
    </script>
</body>

</html>
<script src="/Public/js/url.js" type="text/javascript"></script>
<script>
            function getUrlParam(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
                var r = window.location.search.substr(1).match(reg);  //匹配目标参数
                if (r != null)
                    return unescape(r[2]);
                return null; //返回参数值
            }

            $(function () {
                var url = $.jqURL.get("url");
                var name = $.jqURL.get('name');
                if (name) {
                    $("#name").val(decodeURIComponent(name));
                }
                if (url) {
                    $("#website").val(url);
                }
            })

</script>