{{include './comms/title_header_4'}}

<body>
    {{include './comms/all_header'}}
    <div class="container w clearfix">
        <div class="index_left clearfix">
            <div class="banner" id="banner">
                <ul id="index_banner">
                    <li>
                        <a target="_blank" href="/detail?mtype=shangwu&img=1">
                            <img alt="2016微立体年终工作总结汇报PPT模板2016" src="/data/商务PPT/11.jpg"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="/detail?mtype=jieri&img=1">
                            <img alt="3D全息人像商务科技动态PPT模板" src="/data/节日PPT/11.jpg"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="/detail?mtype=jiaoyu&img=1">
                            <img alt="时尚大气商用实用杂志风PPT模板" src="/data/教育PPT/11.jpg"/>
                        </a>
                    </li>
                    <!--<li>
                        <a target="_blank" href="/php/1948.html">
                            <img alt="2017年红色大气年终总结工作计划PPT" src="http://aoxing.me.oss-cn-hangzhou.aliyuncs.com/ads/21.jpg"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="/source/267.html">
                            <img alt="蓝色商务策划工作计划书PPT模板下载" src="http://aoxing.me.oss-cn-hangzhou.aliyuncs.com/ads/22.jpg"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="/php/1854.html">
                            <img alt="大气星空高逼格企业公司总结PPT" src="http://aoxing.me.oss-cn-hangzhou.aliyuncs.com/ads/23.jpg"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="/templates/462.html">
                            <img alt="2017商务通用工作汇报PPT模板" src="http://aoxing.me.oss-cn-hangzhou.aliyuncs.com/ads/16.jpg"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="/templates/444.html">
                            <img alt="开头视频片头霸气龙腾四海PPT动态模板" src="http://aoxing.me.oss-cn-hangzhou.aliyuncs.com/ads/15.jpg"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="/js/830.html">
                            <img alt="2017商务PPT模板工作总结工作计划工作报告" src="http://aoxing.me.oss-cn-hangzhou.aliyuncs.com/ads/12.jpg"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="/php/1188.html">
                            <img alt="2017年度工作报告总结" src="http://aoxing.me.oss-cn-hangzhou.aliyuncs.com/ads/19.jpg"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="/js/816.html">
                            <img alt="2018不负过去不惧未来年终工作总结" src="http://aoxing.me.oss-cn-hangzhou.aliyuncs.com/ads/11.jpg"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="/templates/435.html">
                            <img alt="2018红色工作总结新年计划ppt模板" src="http://aoxing.me.oss-cn-hangzhou.aliyuncs.com/ads/13.jpg"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="/php/1074.html">
                            <img alt="2016微立体简约的总结性报告蓝色风格" src="http://aoxing.me.oss-cn-hangzhou.aliyuncs.com/ads/18.jpg"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="/templates/390">
                            <img alt="创意精美蛋糕店创业融资项目推广PPT模板" src="http://aoxing.me.oss-cn-hangzhou.aliyuncs.com/ads/3.jpg"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="/php/524.html">
                            <img alt="精美蓝色篮球比赛活动策划总结ppt模板" src="http://aoxing.me.oss-cn-hangzhou.aliyuncs.com/ads/5.jpg"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="/templates/354">
                            <img alt="2017城市高楼建筑风商务通用类PPT模板" src="http://aoxing.me.oss-cn-hangzhou.aliyuncs.com/ads/6.jpg"/>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="/js/512">
                            <img alt="黄色创业商业项目合作计划书ppt模板" src="http://aoxing.me.oss-cn-hangzhou.aliyuncs.com/ads/7.jpg"/>
                        </a>
                    </li>-->
                </ul>
                <div class="banner_page" id="banner_page"></div>
                <a class="banner_page_btn banner_page_left" id="banner_page_left"></a>
                <a class="banner_page_btn banner_page_right" id="banner_page_right"></a>
            </div>
            <div class="index_recommend">
                <div class="head clearfix">
                    <a class="more" href="/templates" target="_blank">更多&nbsp;<span class="more-sign">></span></a>
                    <ul class="clearfix index-coupon-menus">
                        <li class="current index-coupon-menus-first">
                            商务PPT
                            <span class="arrow-up-menu arrow"></span>
                        </li>
                    </ul>
                </div>
                <div class="content clearfix">
                    <div class="per current">
                        <ul class="ul_pics">
                             {{each shangwu as value index}}
                                {{if value.img < 7}}
                                    <li>
                                        <a target="_blank" href="/detail?mtype=shangwu&img={{value.img}}" >
                                            <img src="/data/商务PPT/{{value.img}}1.jpg" original="/data/商务PPT/{{value.img}}1.jpg" alt="{{value.title}}" class="lazy" style="display:inline;">
                                            {{value.title}}
                                        </a>
                                    </li>
                                {{/if}}
                            {{/each}}
                        </ul>
                        <ul class="ul_words">
                            {{each shangwu as value index}}
                                {{if value.img > 6 && value.img < 16}}
                                    <li>
                                        <a target="_blank" href="/detail?mtype=shangwu&img={{value.img}}">
                                            {{value.title}}
                                        </a>
                                    </li>
                                {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="index_recommend">
                <div class="head clearfix">
                    <a class="more" href="/js" target="_blank">更多&nbsp;<span class="more-sign">></span></a>
                    <ul class="clearfix index-coupon-menus">
                        <li class="current index-coupon-menus-first">
                            节日PPT
                            <span class="arrow-up-menu arrow"></span>
                        </li>
                    </ul>
                </div>
                <div class="content clearfix">
                    <div class="per current">
                        <ul class="ul_pics">
                            {{each jieri as value index}}
                                {{if value.img < 7}}
                                    <li>
                                        <a target="_blank" href="/detail?mtype=jieri&img={{value.img}}">
                                            <img src="/data/节日PPT/{{value.img}}1.jpg" original="/data/节日PPT/{{value.img}}1.jpg" alt="{{value.title}}" class="lazy" style="display:inline;">
                                            {{value.title}}
                                        </a>
                                    </li>
                                {{/if}}
                            {{/each}}
                        </ul>
                        <ul class="ul_words">
                            {{each js as value index}}
                                {{if value.img >6 && value.img <16 }}
                                    <li>
                                        <a target="_blank" href="/detail?mtype=jieri&img={{value.img}}">
                                            {{value.title}}
                                        </a>
                                    </li>
                                {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="index_recommend">
                <div class="head clearfix">
                    <a class="more" href="/php" target="_blank">更多&nbsp;<span class="more-sign">></span></a>
                    <ul class="clearfix index-coupon-menus">
                        <li class="current index-coupon-menus-first">
                            教育PPT
                            <span class="arrow-up-menu arrow"></span>
                        </li>
                    </ul>
                </div>
                <div class="content clearfix">
                    <div class="per current">
                        <ul class="ul_pics">
                            {{each jiaoyu as value index}}
                                {{if value.img < 7}}
                                    <li>
                                        <a target="_blank" href="/detail?mtype=jiaoyu&img={{value.img}}">
                                            <img src="/data/教育PPT/{{value.img}}1.jpg" original="/data/教育PPT/{{value.img}}1.jpg" alt="{{value.title}}" class="lazy" style="display: inline;">
                                            {{value.title}}
                                        </a>
                                    </li>
                                {{/if}}
                            {{/each}}
                        </ul>
                        <ul class="ul_words">
                            {{each php as value index}}
                                {{if value.img >6 && value.img <16 }}
                                    <li>
                                        <a target="_blank" href="/detail?mtype=jiaoyu&img={{value.img}}">
                                            {{value.title}}
                                        </a>
                                    </li>
                                {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="index_right">
            
            <div class="sidebar_per sidebar_first">
                <div class="item">
                    <div class="title"><strong>商务PPT</strong></div>
                    <div class="lists">
                        {{each shangwu as value index}}
                            {{if value.img <= 15}}
                                <a href="/detail?mtype=shangwu&img={{value.img}}">{{value.title}}</a>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
                <div class="item">
                    <div class="title"><strong>节日PPT</strong></div>
                    <div class="lists">
                        {{each jieri as value index}}
                            {{if value.img <= 15}}
                                <a href="/detail?mtype=jieri&img={{value.img}}">{{value.title}}</a>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
                <div class="item">
                    <div class="title"><strong>教育PPT</strong></div>
                    <div class="lists" style="border-bottom:none">
                        {{each jiaoyu as value index}}
                            {{if value.img <= 15}}
                                <a href="/detail?mtype=jiaoyu&img={{value.img}}">{{value.title}}</a>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
            </div>




        </div>
    </div>

    {{include './comms/main-footer'}}
</body>

</html>