{{include './comms/title_header_4'}}

<body>
    {{include './comms/all_header'}} 
{{include './comms/paoma'}}
    
    <div id="container" class="w_list">
        {{include './comms/sort'}}
        <div class="list">
            <div class="list_main clearfix">
                {{each js as value index}}
                <div class="per">
                    <a target="_blank" href="/detail?mtype=jiaoyu&img={{value.img}}" class="img_link" style="height:217px"> 
                            <img src="/data/教育PPT/{{value.img}}1.jpg"  style="height:217px" original="/data/教育PPT/{{value.img}}1.jpg" alt="{{value.title}}" class="lazy"  />
                        </a>
                    <div class="foot">
                        <p class="title"><a target="_blank" href="/detail?mtype=jiaoyu&img={{value.img}}">{{value.title}}</a> </p>
                        <div class="statics">
                            <a class='download citecommon'>下载 <em>{{value.down}}次</em></a>

                            <!--<a class='comment citecommon'>评论 <em>1条</em></a>-->
                            <a class='scores citecommon'>浏览 <em>{{value.look}}次</em></a>
                        </div>
                    </div>
                </div>
                {{/each}}
                
            </div>
            <div class="pager">共<span class="red"> {{js.length}} </span>个网站模板 <a class="prev" href="/jiaoyus">上一页</a>
                    <a class="num" href="/jiaoyu">1</a>
                    <a class="next" href="/jiaoyu">下一页</a>
                </div>
        </div>
        {{include './comms/main-footer'}}



</body>

</html>
<script type="text/javascript" src="/js/plugins/blocksit.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(window).load(function () {
            $('.list_main').BlocksIt({
                numOfCol: 4,
                offsetX: 6,
                offsetY: 8
            });
        });
    })

</script>