			<div class=" clients-wrapp">
				<div class="container">
					<div class="flexslider clients-slider "><!-- flex slider starts -->
						<ul class="slides client-block">
							<li>
							<div class="one-fifth">
								<a href="#" class="tooltip" title="Some Clients Name"><img src="images/clients/client-1.png" alt=""/></a>
							</div>
							<div class="one-fifth">
								<a href="#" class="tooltip" title="Some Clients Name"><img src="images/clients/client-2.png" alt=""/></a>
							</div>
							<div class="one-fifth">
								<a href="#" class="tooltip" title="Some Clients Name"><img src="images/clients/client-3.png" alt=""/></a>
							</div>
							<div class="one-fifth">
								<a href="#" class="tooltip" title="Some Clients Name"><img src="images/clients/client-4.png" alt=""/></a>
							</div>
							<div class="one-fifth ">
								<a href="#" class="tooltip" title="Some Clients Name"><img src="images/clients/client-5.png" alt=""/></a>
							</div>
							</li>
							<li>
							<div class="one-fifth">
								<a href="#" class="tooltip" title="Some Clients Name"><img src="images/clients/client-6.png" alt=""/></a>
							</div>
							<div class="one-fifth">
								<a href="#" class="tooltip" title="Some Clients Name"><img src="images/clients/client-5.png" alt=""/></a>
							</div>
							<div class="one-fifth">
								<a href="#" class="tooltip" title="Some Clients Name"><img src="images/clients/client-4.png" alt=""/></a>
							</div>
							<div class="one-fifth">
								<a href="#" class="tooltip" title="Some Clients Name"><img src="images/clients/client-3.png" alt=""/></a>
							</div>
							<div class="one-fifth ">
								<a href="#" class="tooltip" title="Some Clients Name"><img src="images/clients/client-2.png" alt=""/></a>
							</div>
							</li>
						</ul>
					</div><!-- flex slider ends -->
				</div>
			</div>