<div id="header-links">
	<div class="container">
		<div class="one-third">
			<ul class="contact-links">
				<!-- header social links starts-->
				<li><a href="#"><i class="icon-index"></i> 江苏省淮安市敖兴网络科技有限公司 </a></li>
				<li><a href="#"><i class="icon-phone"></i> 0517-86232046 </a></li>
				<li><a href="#"><i class="icon-map-marker"></i>602940084@qq.com</a></li>
				
			</ul>
		</div>
		<div class="two-third">
			<ul class="social-links">
				<li>用户名</li><li><input style="width:80px;height:15px" value="" title="" onblur="if(this.value=='')this.value='';" onfocus="if(this.value=='')this.value='';" type="text" class="text requiredField" name="name"/></li>
				<li>密码</li><li><input style="width:80px;height:15px" value="" title="" onblur="if(this.value=='')this.value='';" onfocus="if(this.value=='')this.value='';" type="text" class="text requiredField" name="name"/></li>
				
				
				<li><a href="/login" style="width:50px;height:15px;" class="button color small round">登录</a></li>
				<li><a href="/reg" style="width:50px;height:15px;" class="button color small round">注册</a></li>
				<li><a href="/pay" style="width:50px;height:15px;" class="button color small round">充值</a></li>
				<!-- header social links starts-->
				<!--<li><a href="#" class="tooltip" title="Some Title"><i class="icon-twitter"></i></a></li>
						<li><a href="#" class="tooltip" title="Some Title"><i class="icon-facebook"></i></a></li>
						<li><a href="#" class="tooltip" title="Some Title"><i class="icon-linkedin"></i></a></li>
						<li><a href="#" class="tooltip" title="Some Title"><i class="icon-google-plus"></i></a></li>
						<li><a href="#" class="tooltip" title="Some Title"><i class="icon-skype"></i></a></li>
						<li><a href="#" class="tooltip" title="Some Title"><i class="icon-dribbble"></i></a></li>
						<li><a href="#" class="tooltip" title="Some Title"><i class="icon-pinterest"></i></a></li>
						<li><a href="#" class="tooltip" title="Some Title"><i class="icon-tumblr"></i></a></li>-->
				
			</ul>
			<!--header social links ends -->
		</div>
	</div>
</div>