		<div id="layerslider">
			<!--layer slider starts-->
			<div class="slider-shadow-top">
			</div>
			<div class="slider-shadow-bottom">
			</div>
			<div class="ls-layer" style="slidedirection: top; slidedelay: 6000; durationin: 1500; durationout: 1500; delayout: 500;">
				<img src="images/slider/layer/1/slide1-bg.jpg" class="ls-bg" alt="">
				<img src="images/slider/layer/1/slide0-1.png" class="ls-s6" alt="" style="top: 10px; left: -15px; slidedirection : bottom; slideoutdirection : bottom; durationin : 1500; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 600;">
				<h1 class="ls-s3 ls_large_text_01" style="position: absolute; top:100px; left: 490px; slidedirection : top; slideoutdirection : top; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 1000;">流行商业模板<br>
				 完全响应式!</h1>
				<h4 class="ls-s3 l1-s1 ls_large_text_02" style="position: absolute; top:210px; left: 490px; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 1000;">全面的技术栈</h4>
				<a class="button huge color round ls-s8" href="#" style="position: absolute; top:270px; left: 490px; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 1100;">我们的服务</a>
			</div>
			<div class="ls-layer" style="slidedirection: right; slidedelay: 5000; durationin: 1500; durationout: 1500;">
				<img src="images/slider/layer/2/slide-bg.jpg" class="ls-bg" alt="">
				<img src="images/slider/layer/2/item-01.png" class="ls-s6" alt="" style="top: 15px; left: 480px; slidedirection : bottom; slideoutdirection : bottom; durationin : 1500; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 600;">
				<h1 class="ls-s3 ls_large_text_01" style="position: absolute; font-family:Arial; top:100px; left: 0px; slidedirection : right; slideoutdirection : left; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 400;">清爽的设计</h1>
				<h4 class="ls-s3 l1-s1 ls_large_text_02" style="position: absolute; top:160px; left: 0px; border-color:#fff; slidedirection : bottom; slideoutdirection : left; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 500;">Clean Corporate Template with some Awesome &amp; Unique Features</h4>
				<a class="button huge color round ls-s8" href="#" style="position: absolute; top:210px; left: 0px; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0;">我们的组合</a>
			</div>
			<div class="ls-layer" style="slidedirection: right; slideoutdirection : top; slidedelay: 5000; durationin: 1500; durationout: 1500; delayout: 500;">
				<img src="images/slider/layer/3/slide3-bg.jpg" class="ls-bg" alt="">
				<img src="images/slider/layer/3/slide3-pic1.png" class="ls-s6" alt="" style="top: 25px; left: 0px; slidedirection : fade; slideoutdirection : fade; durationin : 1500; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 500;">
				<h1 class="ls-s3 ls_large_text_01" style="position: absolute; top:120px; left: 400px; slidedirection : top; slideoutdirection : top; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 600;">HTML5 响应式模板</h1>
				<h4 class="ls-s3 l1-s1 ls_large_text_02" style="position: absolute; top:170px; left: 400px; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 700;">可筛选的组合,更多的选择</h4>
				<a class="button huge color round ls-s8" href="#" style="position: absolute; top:210px; left: 400px; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 800;">模板商店</a>
			</div>
			<div class="ls-layer" style="slidedirection: top; slideoutdirection : top; slidedelay: 5000; durationin: 1500; durationout: 1500; delayout: 500;">
				<img src="images/slider/layer/4/slide4-bg.jpg" class="ls-bg" alt="">
				<img src="images/slider/layer/4/slider_4_man.png" class="ls-s6" alt="" style="top: 10px; left:550px; slidedirection : bottom; slideoutdirection : bottom; durationin : 1500; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 300;">
				<h1 class="ls-s3 ls_large_text_01" style="position: absolute; top:100px; left: 0px; slidedirection : top; slideoutdirection : top; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 500;">全宽度盒模型</h1>
				<h4 class="ls-s3 l1-s1 ls_large_text_02" style="position: absolute; top:160px; left: 0px; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 600;">
您只需要更改容器宽度即可更改整个网格系统</h4>
				<a class="button huge color round ls-s8" href="/contact" style="position: absolute; top:210px; left: 0px; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 700;">联系我们</a>
			</div>
		</div>