		<div class="container">
			<div class="head-wrapp">
				<a href="/" id="logo"><img src="images/logo.png" alt=""/><span>响应式商业模板</span></a>
				<!--your logo-->
				<nav class="top-search" style="position:relative;left:-250px">
				<!-- search starts-->
				<form action="404-error.html" method="get" >
					<button class="search-btn"></button>
					<input style="width:400px;" class="search-field" type="text" onblur="if(this.value=='')this.value='搜索';" onfocus="if(this.value=='搜索')this.value='';" value="搜索"/>
				</form>
				</nav>
				<!--search ends -->
			</div>
		</div>