		<div id="main-navigation">
			<!--main navigation wrapper starts --> 
			<div class="container">
				<ul class="main-menu">
					<li><a href="/" id="current">首页</a>
					<!-- Second Level / Start -->
					<!--<ul>
						<li><a href="index.html">Layer Slider (Default)</a></li>
						<li><a href="index-revolution-slider.html">Revolution Slider</a></li>
						<li><a href="index-flex-slider.html">Flex Slider</a></li>
						<li><a href="index-alternative-header-1.html">Header Style 1</a></li>
						<li><a href="index-alternative-header-2.html">Header Style 2</a></li>
						<li><a href="index-alternative-header-3.html">Header Style 3</a></li>
						 
						<li><a href="#">Menu Second Level</a>
						<ul>
							<li><a href="#">Dummy Item</a></li>
							<li><a href="#">Dummy Item</a></li>
						</ul>
						</li>
					</ul>-->
					<!-- Second Level / End -->
					</li>

					<!--<li><a href="#">Shortcodes</a>-->
						<!-- Second Level / Start -->
							<!--<ul>
								<li><a href="columns.html">Columns</a></li>
								<li><a href="typography.html">Typography</a></li>
								<li><a href="elements.html">Elements</a></li>
								<li><a href="icons.html">Icons</a></li>
								<li><a href="pricing-tables.html">Pricing Tables</a></li>
							</ul>-->
						<!-- Second Level / End -->
					<!--<li><a href="#">商店</a>-->
					<!-- Second Level / Start -->
					<!--<ul>-->
						<!--<li><a href="/shop">前端</a></li>-->
						<!--<li><a href="shop-layout.html">前端</a></li>-->
						<!--<li><a href="#">后端..敬请期待</a></li>-->
					<!--</ul>-->
					<!-- Second Level / End -->
					<!--</li>-->
					<!--<li><a href="#"> 博客</a>-->
					<!-- Second Level / Start -->
					<!--<ul>-->
						<!--<li><a href="blog-small.html">Small Layout</a></li>
						<li><a href="blog-medium.html">Medium Layout</a></li>
						<li><a href="blog-large.html">Large Layout</a></li>
						<li><a href="blog-post.html">Single Post</a></li>-->
					<!--</ul>-->
					<!-- Second Level / End -->
					</li>
					<!--<li><a href="contact.html">联系我们</a></li>-->
					<li><a href="/contact">联系我们</a></li>
				</ul>
				<!-- main navigation ends-->
				<div class="after-nav-info">
					<h4>联系电话: +86 051786232046</h4>
				</div>
			</div>
		</div>